<?xml version="1.0" encoding="utf-8" ?>
<config>
<wififeature>
	<wifi5g_enabled>1</wifi5g_enabled>
</wififeature>
<ssid0>
	<wifibasic>
		<wifibandwidth>20</wifibandwidth>
	</wifibasic>
</ssid0>
<ssid1>
	<wifibasic>
		<wifibandwidth>20</wifibandwidth>
	</wifibasic>
</ssid1>
<ssid2>
	<wifibasic>
		<wifibandwidth>20</wifibandwidth>
	</wifibasic>
</ssid2>
<ssid3>
	<wifibasic>
		<wifibandwidth>20</wifibandwidth>
	</wifibasic>
</ssid3>
</config>